<div class="titleHome-container">
    {{#if search}}
        <h2>Você está procurando por: <span>{{search}}</span></h2>
        {{#if commentsQty}}
            <p>Foram encontrados <span>{{commentsQty}}</span> comentários</p>
            {{else}}
            <p>Nenhum comentario foi encontrado para o termo <span>{{search}}</span></p>
        {{/if}}
    {{else}}
        <h1>Comentários da Comunidade</h1>
    {{/if}}
</div>
<div class="home-container">
    <div class="search-container">
        <form action="">
            <input type="text" name="search" class="field-search" placeholder="Está busanco por algo?">
            <button type="submit" class="button-searchComment">buscar</button>
        </form>
        <a href="/">Limpar</a>
    </div>
</div>
<div class="comments-container">
    {{#each comments}}
        <figure class="figure">
            <blockquote>
                "{{this.title}}"
            </blockquote>
            <div class="about-comment">
                <figcaption>Por: <span>{{this.User.name}}</span></figcaption>
                <p>{{this.formatteDate}}</p>
            </div>
        </figure>
    {{/each}}
</div>